/nbproject/
/cache/
/cgi-bin/
/docs/
/download/
/img/
/log/
/modules/*
!/modules
!/modules/blockcart
!/modules/boxberry
!/modules/cashondelivery
!/modules/blockcart/*
!/modules/boxberry/*
!/modules/cashondelivery/*
/old/
/themes/*
!/themes/p55_gloss_lite/*
/translations/
/upload/
/tools/